@import "_variables";
@import "_mixin";

@include tablet() {
  .main-section {
    .main {
      max-width: 460px;
      margin: 25px 80px;
      text-align: left;

      .main-title {
        font-size: 40px;
        max-width: 350px;
      }

      .main-descr {
        font-size: 16px;
        margin: 15px 0;
        max-width: 350px;
      }
    }
  }

  .buttons {
    max-width: 450px;

    .button-accent,
    .button {
      width: 160px;
      padding: 16px 35px;
      margin: 20px 0;
      border-radius: 8px;
      font-size: 19px;
    }
  }

  .lady {
    max-width: 420px;
    right: -30px;
    bottom: 5px;
  }
}

@include leptop() {
  .main-section {
    max-width: 1000px;
    margin: 0 auto 0 100px;
    text-align: center;

    .main {
      min-width: 400px;
      margin: 25px 0 50px 50px;

      .main-descr {
        margin-top: 30px;
      }
    }
  }

  .buttons {
    max-width: 460px;

    .button-accent,
    .button {
      width: 180px;
    }
  }

  .lady {
    bottom: 5px;
    right: 0px;
    max-width: 572px;
    max-height: 530px;
  }
}

@include desktop() {
  .main-section {
    .main {
      margin: 35px 110px;
    }
  }

  .buttoms {
    .buttom-accent,
    .buttom {
      padding: 16px 35px;
      margin: 48px 0;
    }
  }

  .lady {
    bottom: 0px;
    right: 70px;
  }
}