@import "_variables";


%title{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
color: $mainColor;
text-transform: uppercase;
text-align: center;
line-height: 130%;
margin-bottom: 5px;
}

