
$breakpoint_xxl: 1400px;
$breakpoint_xl: 1024px;
$breakpoint_md: 768px;

$mainColor: #1b1d1f;
$accentColor: #46b1de;
$superlightColor: #ffffff;
$lightColor:  #dde0dc;
$hoverFooterColor:#0f2d4a;
$borderRadius: 8px;