.card {
  display: none;
}

@media (min-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    max-width: 700px;
    margin: -60px auto;
    position: relative;
    animation-name: display-card-section;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
  }
  .card .card-descr {
    display: flex;
    max-width: 210px;
    height: 100px;
    align-items: center;
    background: #ffffff;
    border: 1px solid #dde0dc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  .card .card-descr .accent-descr {
    color: #46b1de;
    font-size: 45px;
    padding: 10px;
  }
  .card .card-descr .descr {
    padding: 10px;
    line-height: 16px;
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  .card {
    gap: 30px;
    max-width: 900px;
  }
  .card .card-descr {
    max-width: 230px;
    height: 120px;
  }
}
@media (min-width: 1400px) {
  .card {
    max-width: 1050px;
  }
  .card .card-descr {
    max-width: 280px;
    height: 120px;
  }
  .card .card-descr .accent-descr {
    font-size: 65px;
  }
}